COMPOSE_PROJECT_NAME=galera-as-db3
MARIADB_DATABASE=appdb
MARIADB_USER=appuser
GALERA_CLUSTER_MEMBERS=192.168.100.30,192.168.100.40,192.168.100.50
GALERA_NODE_NAME=db3
GALERA_SERVER_ID=3
GALERA_NODE_ADDRESS=192.168.100.50
GALERA_READ_ONLY=OFF
GALERA_BOOTSTRAP=0
