[mariadbd]
bind-address=0.0.0.0
skip-name-resolve

default_storage_engine=InnoDB
binlog_format=ROW
innodb_autoinc_lock_mode=2
innodb_flush_log_at_trx_commit=1

wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_name=haproxy-galera
wsrep_sst_method=mariabackup
wsrep_provider_options="gmcast.listen_addr=tcp://0.0.0.0:4567;gcache.size=512M;gcache.recover=yes"

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
max_connections=300
