COMPOSE_PROJECT_NAME=three-tier-galera
MARIADB_DATABASE=integrated
MARIADB_USER=app
GALERA_SERVER_ID=2
GALERA_NODE_NAME=galera-db2
GALERA_NODE_ADDRESS=192.168.100.31
GALERA_CLUSTER_MEMBERS=192.168.100.30,192.168.100.31,192.168.100.32
GALERA_READ_ONLY=ON
GALERA_BOOTSTRAP=0
